# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
data/external/*

# RAG
rag/documents/*
rag/embeddings/*
rag/vectorstore/*

# ML
models/*.pkl
models/*.joblib

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log